<br>
<br>
<div>
<div class="row">
  <div class="col-md-5">
    <div [ngStyle]="{'visibility':(tableDataSrc)? 'visible':'hidden'}">
      <!-- <input matInput (keyup)="onSearchInput($event)" placeholder="Search.."> -->
      <!-- filter panel start # options -->

      <mat-card class="filterCard">
        <!-- <button (click)="printSomething()">print current cols?</button> -->
      <mat-accordion multi *ngIf="tableCols">
        <mat-expansion-panel hideToggle >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Choose a filter
            </mat-panel-title>
            
          </mat-expansion-panel-header>
          <!-- content of expansion panel -->
          <!-- tracking mouse and changing 'button' styles dynamically: https://stackoverflow.com/a/45942614 -->
          <mat-grid-list cols="3" rowHeight="2:1">
            <mat-grid-tile
             *ngFor="let tableCol of tableCols"
             (click)="AddNewRow(tableCol)"
             (mouseover)="isTarget=tableCol"
             [ngClass]="{'target':isTarget===tableCol}">
             {{tableCol}}
              </mat-grid-tile>
          </mat-grid-list> 
        </mat-expansion-panel>
        <!-- toggling expansion of panel 'remotely' (from another element): https://stackoverflow.com/a/48745463 -->
        <!-- adding expansion panel rows programmatically: https://stackoverflow.com/q/56532915 -->
        <!-- enabling clickable elements in expansion panel by disabling momentarily expansion function: https://stackoverflow.com/a/54648235 -->
        
        <mat-expansion-panel 
          *ngFor="let filter of filterArray;" 
          [expanded]="filter.open" 
          hideToggle
          [disabled]="clickButton" 
          (click)="clickButton=false">

          <mat-expansion-panel-header class="right-align">
            
            <mat-panel-title>
              {{filter.name}}
            </mat-panel-title>
            <mat-panel-description>
              <!-- removing row on element click: https://stackoverflow.com/a/15287938 -->
              <mat-icon (click)="removeRow(filter.name)">clear</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <!-- if input should be searchable through typing -->
          <input matInput 
          *ngIf="!(filter.name==='PrimaryKey' || filter.name==='SiteKey')"
          (keyup)="applyFilter($event.target.value)" 
          (focus) = "setupFilter(filter.name)"
            
            placeholder="filter by '{{filter.name}}' ">
          <!-- if input should be searchable through selection from dropdown (only 'Sitekey is implemented') -->
          <mat-select 
            *ngIf="(filter.name==='PrimaryKey' || filter.name=== 'SiteKey')" 
            (selectionChange)="sendSelection($event)">
            <mat-option *ngFor="let field of dropdownKeys" [value]="field.name">
              {{field.name}}
            </mat-option>
          </mat-select>

          <!-- custom filter by field (not dynamic though it's a start): https://stackoverflow.com/a/54683423 -->
          <!-- <mat-form-field class="filter" floatLabel="never" MatFormFieldControl>
            <mat-label>Search</mat-label>
            
            <input matInput [formControl]="colFilter">
          </mat-form-field> -->
        </mat-expansion-panel>
      </mat-accordion>
      </mat-card>

      
      
      <table mat-table [dataSource]="tableDataSrc" matSort class="mat-elevation-z8">
        <ng-container *ngFor="let col of tableCols">
          <ng-container matColumnDef="{{col}}">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{col}}</th>
            <td mat-cell *matCellDef="let row" >{{ row[col]}}</td>
          </ng-container>
        </ng-container>
      
        <mat-header-row *matHeaderRowDef="tableCols"></mat-header-row>
        <mat-row *matRowDef="let row; columns: tableCols" ></mat-row>
      </table>
      <mat-paginator 
        (page)="changePage($event)"
        [pageSize]="limit" 
        [length]="totalLength" 
        [pageSizeOptions]="pageLimit"  
        showFirstLastButtons></mat-paginator>
    </div>
    

  </div>
</div>
  <!-- <li *ngFor="let item of output">
    <span>{{item.data}}</span>

  </li> -->
</div>
