table {
  width: 100%;
}

/* th, td {
  overflow: hidden;
  width: 250px;
  height: 30px;
  white-space: nowrap;
} */
.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: 1px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgb(0 0 0 / 0%);
}
mat-grid-tile {
  background: lightblue;
}
.filterCard{
  max-width: 400px;
}

::ng-deep .mat-expansion-panel-header[aria-disabled=true] {
    color: rgba(0,0,0,.87);
}